# .git, .vs, .gource, etc...
.*/

# Resources don't play well with git
*.png
*.ogg

# Go get your own glad.c
glad.c

# If a binary somehow gets in here, ignore it
*.lib
*.dll
*.exe
*.a
*.so
*.out
x64/*

# Visual Studio metadata that nobody else cares about
*.vcxproj*
*.sln

# Various desktop metadata files that might sneak in
thumbs.db
.DS_Store